
.subFooter{
  padding: 3rem 1rem;
  /* position: relative;
  display: flex;
  justify-content: space-between; */
  color: #fff;
}

.subFooter a{
  outline: none;
  border: none;
  background: none;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px 20px;
  transition: .5s;
  border-radius: 5px;
  /* width: 100%; */
  float: right;
  text-decoration: none;
}

.subFooter a:hover{
  background: #fff;
  color: #161616;
}

@media only screen and (max-width: 768px) {
  .subFooter{
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
  text-align: center;
}
.subFooter a{
  margin-top: 1rem;
  float: none;
}
}