.HomeHero{
    height: 100vh;
    /* background-image: url('../../images/hero.jpg');
    background: linear-gradient(90deg, #C92F71 0%,#170748 100%),url('../../images/hero.jpg'); */
     background-image:
    linear-gradient(90deg, #c92f72d5 0%, #170748d8 100%),
    url('../../images/heroNew.png');
    /* width: 100%; */
    background-size: cover;
    color: white;
    /* padding: 20px; */
    position: relative;
}

/* .HomeHero img{
    width: 100%;
    height: 100vh;
} */

.hero-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.hero-content h1{
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
}

.hero-content h4{
    font-size: 2rem;
}

.hero-content p{
    color: #e0e0e0;
}

@media screen and (max-width: 992px){
    .hero-content h1{
    font-size: 2rem;
}

.hero-content h4{
    font-size: 1rem;
}
}

@media screen and (max-width: 768px){
    .hero-content h1{
    font-size: 1.5rem;
}

.hero-content h4{
    font-size: 1rem;
}

.hero-content p{
    font-size: 12px;
}
}

/* CardBox =========================*/
.CardBox{
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 15px 40px #eee;
    transition: all .5s ease;
    position: relative;
    color: #161616;
    border-radius: 10px;
}

.CardBox h2{
    font-weight: 500;
    color: #414141;
}

.CardBox small{
    font-size: 3rem;
    color: #C92F71;
}

.CardBox:hover{
    transform: translateY(-10px);
    /* color: #fff; */
    cursor: pointer;
}

.CardBox:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    /* background: linear-gradient(to top, #C92F71 0%,#170748 100%); */
    transition: .5s;
    z-index: -1;
}

.CardBox:hover::before{
    height: 100%;
}
/* CardBox =========================*/


/* Focus =========================*/
.focus-content{
    margin: auto;
}
.focus-content small{
    font-size: 1.2rem;
}

.focus-content ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.focus-content ul li{
    margin: .8rem 0;
}



/* Focus =========================*/