.single-academy{
    position: relative;
}

.single-academy img{
    width: 100%;
}

.academy-content{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #ddd;
    width: 100%;
    text-align: center;
    padding: 1rem;
    color: #161616;
}

.academy-content h2{
        font-size: 2rem;
    }

@media screen and (max-width: 992px){
    .academy-content h2{
        font-size: 1rem;
    }
}